<!DOCTYPE html>
<html ng-app="GoldMapApp">
<head>
    <title> NGRepeat</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" href="main.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body ng-controller="MarkerMap as mCtrl">
    <div class="page-header" >
        <h1>Gold Rush <small>Please select your discovery location</small></h1>
    </div>
    <div class="map" ng-click="mCtrl.addOnClick($event)">
        <div ng-repeat="clickLocation in mCtrl.clickLocation" >
            <div class="map-mark" style= "left : {{ clickLocation.x }}px ; top : {{ clickLocation.y }}px ">
            </div>
        </div>
    </div>
    <div class="list-locate" >
        {{mCtrl.clickLocation}}
    </div>
</body>
</html>
