<!DOCTYPE html>
<html ng-app="Zordon">
<head>
    <title> Angular Intro</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <style>
    .fullwidth{
        display:block;
    }
    </style>
</head>
<body ng-controller="alpha">
    <div ng-init= "rangers=['Red Ranger', 'Blue Ranger', 'White Ranger', 'Green Ranger' ]">
        <h1>{{ greeting }}</h1>
        <h3 ng-bind="subGreeting"></h3>
        <button ng-click="fightPutty()"> Fight Putty </button>
        <p>{{ rangers[0] }}</p>
    </div>
    <div ng-controller="betaCtrl as beta">
        <!-- <p> {{beta.beans }} </p> -->
        <input type="text" placeholder="Favorite Beans" ng-model="beta.myFavoriteBeans" ng-mouseover="beta.beanHover()" ng-style="beta.beanColor"/>


        <button ng-click='beta.addBeans()'>Add Beans</button>
        <p ng-repeat="beans in beta.myBeans">
            {{ beans }}
        </p>
        <button class= "fullwidth" ng-click="beta.removeLastBeans()"> Remove last bean</button>
    </div>

</body>

</html>
